@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --font: 'Poppins', sans-serif;
    --body-bg: #EBEBEB;

    --primary-clr: #EBEBEB;
    --secondary-clr: #0B2228;
    --ternary-clr: #DED087;


    --app-width: min(90vw, 1000px);
    --form-width: min(90vw, 500px);
    --border-radius: 5px;
    --task-hover-opacity: 0.87;

    --error-animation-sec: 5s;
    --error-font-clr: #d32f2f;
    --error-box-bg-clr: #fdeded;
}