.task{
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1em;
    margin: 0.5em 0;
    border-radius: var(--border-radius);
    font-weight: 500;
}

.task:hover{
    opacity: var(--task-hover-opacity);
    z-index: 1000;
}

.task > input{
    width: fit-content;
    transform: scale(2);
}
.task > div{
    width: 100%;
}

.pending{
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
}

.completed{
    color: var(--secondary-clr);
    background-color: var(--ternary-clr);
    filter: blur(0.6px);
}

.completed > div {
    text-decoration: line-through;
}

.Date, .creator{
    position: absolute;
    right: 1em;
    padding: 0.2em;
    border-radius: var(--border-radius);
    font-size: 0.75em;
    font-weight: 100;
    color: var(--primary-clr);
    width: fit-content;
}

.pending > .Date{
    background-color: var(--secondary-clr);
}

.completed > .Date{
    font-weight: 300;
    color: var(--secondary-clr);
    background-color: var(--ternary-clr);
}

.task:hover > .Date{
    display: none;
}

.creator{
    display: none;
}

.task:hover > .creator{
    display: block;
}

.Dummy-tasks{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.Dummy-task{
    position: relative;
    border-radius: var(--border-radius);
    background-color: lightgray;
    width: 100%;
    height: 3em;
}

.Dummy-task::after{
    content: '';
    position: absolute;
    height: 100%;
    background: white;
    opacity: 0.2;
    border-radius: inherit;
    animation: dummy 1s ease-in-out infinite;
}

@keyframes dummy {
    0%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}